css
Copy code
#slider {
    overflow: hidden;
    width: 50vw;
    position: relative;
}

#slider img {
    width: 100%;
}

#imgA {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease; /* Ajoutez une transition pour l'effet de translation */
}